openai>=1.0.0
pdfplumber==0.10.2
tqdm==4.66.4
numpy==1.26.4
PyPDF2==3.0.1
streamlit
requests
streamlit-authenticator 
python-dotenv
toml
google-api-python-client 
google-auth 
google-auth-httplib2 
google-auth-oauthlib
pandas
gspread
oauth2client
plotly
PyPDF2
faiss-cpu
sentence-transformers
streamlit-chat
fitz
PyMuPDF
pygsheets
langchain
langchain-cli
langchain_community